<component name="ArtifactManager">
  <artifact type="jar" name="Server">
    <output-path>$PROJECT_DIR$/out/artifacts/Server</output-path>
    <root id="archive" name="Distributed-TicTacToe-System.jar">
      <element id="module-output" name="Distributed-TicTacToe-System" />
    </root>
  </artifact>
</component>